* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;


  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.uvod {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 70px 0;
  box-sizing: border-box;
}

.uvod__fotka {
  width: 330px;
  border-radius: 2% 2% 0 0;
}

.uvod__body {
  width: 330px;
  display: flex;
  flex-direction: column;
  background-color: #283e50;
}

.uvod__nadpis {
  margin: 6%;
  font-family: Lobster;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
}

.uvod__text {
  text-align: center;
  padding: 0 3% 5% 3%;
}

.uvod__buttons {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.uvod__button {
  border: none;
  padding: 10px;
}

.uvod__button a {
  width: 100%;
  font-size: 16px;
  padding: 1%;
  text-decoration: none;
  color: #ffffff;

  justify-content: center;
  align-items: center;
}

.uvod__button--green {
  background-color: #1fcca4;
  border-bottom: 1.5px solid #283e50;
}

.uvod__button--green:hover {
  background-color: #1cbb96;
}

.uvod__button--blue {
  background-color: #0197f6;
}

.uvod__button--blue:hover {
  background-color: #0090e9;
}

/* HRA.html */
.game__container {
  display: flex;
  flex-direction: column;
  max-width: 80vmin;
}

.game__heading {
  font-family: Lobster;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  align-self: center;
}

.game__nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.game__player {
  display: flex;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  background: none;
  border: none;
  gap: 7%;
  font-weight: bold;
  align-items: center;
}

.game__player img {
  height: 50%;
}

.game__icons {
  display: flex;
  justify-content: flex-end;
  flex-basis: 50%;
  gap: 5%;
}

.game__icon {
  border: none;
  padding: 2.5%;
  border-radius: 10%;
}

.game__icon--green {
  background-color: #1fcca4;
}

.game__icon--green:hover {
  background-color: #1cbb96;
}

.game__icon--blue {
  background-color: #0197f6;
}

.game__icon--blue:hover {
  background-color: #0090e9;
}

.game__table {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vmin;
}

.game__btn {
  border: 1px solid black;
  opacity: 0.5;
  cursor: pointer;
  width: calc(8vmin);
  height: calc(8vmin);
}

.game__btn:hover,
.game__btn:focus {
  opacity: 0.8;
}

.board__field--circle {
  background-image: url(icons/circle-table.svg);
  background-size: cover;
}

.board__field--cross {
  background-image: url(icons/cross-table.svg);
  background-size: cover;
}
